M Main
S FS20 FS20
S Control Control

M FS20
<xmllist>

M FS20-Plain
C Toggle F$12
C On F$11
C Off F$00

M FS20-Dim
C Toggle F$12
C On F$11
C Off F$00
C Dimup F$13
C Dimdown $14

M Control
C:Backlight on:L01FFFF
C:Backlight off:L00FFFF
C:Contrast +:LFFFEFF
C:Contrast -:LFFFDFF
C:New font:LFFDDFE
